/************************
*  VARIABLES
*
************************/

/* Fonts */
$font-avenir: 'Avenir';
$font-avenirBlack: 'AvenirBlack';
$font-helvetica: 'HelveticaNeue-roman';

/* Colors */


$color-white: #fff;
$color-red: #d22929;
$color-black: #151515;